<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h2 class="widget-title">{{t "Newsletter"}}</h2>
    {{#if @labs.subscribers}}
        <p>{{t "Subscribe to our newsletter and stay updated on the latest news and special offers!"}}</p>
        {{subscribe_form
                form_class="gh-signin form-footer"
                input_class="gh-input form-control form-control-dark"
                button_class="button btn btn-primary"
                placeholder=(t "Enter your email")
        }}
    {{else}}
        <p>{{t "Subscribers feature is not enabled."}}</p>
    {{/if}}
</div>
