<div class="widget">
    <h2 class="widget-title">{{t "About the author"}}</h2>

    {{#foreach authors}}
        <div class="widget widget-inline post-author">

            {{#if profile_image}}
                <div class="author-photo">
                    <img src="{{img_url profile_image}}" />
                </div>
            {{/if}}

            <div class="author-details">

                <h2 class="author-title widget-title">{{name}}</h2>
                <p>
                    {{bio}}
                </p>

                <ul>
                    {{#if twitter}}
                        <li><a href="https://www.twitter.com/{{twitter}}" target="_blank">{{twitter}}</a></li>
                    {{/if}}
                    {{#if facebook}}
                        <li><a href="https://www.facebook.com/{{facebook}}" target="_blank"><i class="fa fa-facebook"></i>{{facebook}}</a></li>
                    {{/if}}
                    {{#if location}}
                        <li><a href="https://www.google.com/maps?q={{location}}" target="_blank"><i class="fa fa-map-marker"></i>{{location}}</a></li>
                    {{/if}}
                    {{#if website}}
                        <li><a href="{{website}}" target="_blank"><i class="fa fa-globe"></i>{{t "Website"}}</a></li>
                    {{/if}}
                    <li><a href="{{url}}"><i class="fa fa-files-o"></i>{{t "More posts"}}</a></li>
                </ul>
            </div>
        </div>
    {{/foreach}}
</div>
